.section-footer{
    background-color: rgb(211, 205, 205);
    padding-bottom: 10px;
    border-top: 1px solid rgb(206, 198, 198);
 
    
    .footer{

        color: #fff;
        padding-top: 15px;
        line-height: 25px;
        
        span:nth-child(1){
            font-weight: 500;
            background-color: rgb(74, 173, 197);
            border-radius: 10px 0px 10px 0;
            border: 1px solid $midgrey;
            padding: 10px 0px 10px 0px;
            font-weight: 700;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
        span:nth-child(2){
            font-weight: 500;
            color: #000;
        }
      
        span:nth-child(3){
           float: right;
           color: rgb(161, 149, 149)
        }
        
      
    }

    @media only screen and (max-width: 414px){
        span:nth-child(1){
            display: none;
        }

        span:nth-child(2){
            display: none;
        }

        span:nth-child(3){
            font-size: 13px;
            float: left !important;
         }
    }

}